@-moz-document domain("forum.blockland.us") {
body {
    background-color: #f5f5f5 !important;
}

.catbg {
	background-color: 	#67727a;
    padding:5px;
    font-family: Verdana;
}

.titlebg {
	background-color: 	#67727a;
    padding:5px;
    font-family: Verdana;
    color:#FFFFFF;
}

.windowbg {
    padding:10px 20px 10px 20px;
	font-family: Verdana;
}

.windowbg2 {
    padding:10px 20px 10px 20px;
	font-family: Verdana;
    background-color:#c3d7df;
}

b {
    font-size:16px;
    font-weight:900;
    margin-bottom:5px;
	color:#082567;
}

.quote {
	background-color:#cdcdcd;
    border:1px;
    border-style:solid;
    display:block;
    padding:5px;
    margin:3px 0px 3px 0px;
}

.quotetitle {
	font-size:10px;
}

}
